*.pdf
*.dvi
*.ps
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.bbl
*.blg
__pycache__/
*.pyc
*.synctex.gz
*.synctex.gz(busy)
*.fls
*.fdb_latexmk
*.bak
*.tmp
*.broken
*.ecluded
*.working
*.dvi
*.pdf
!figure.pdf
